<?xml version="1.0" encoding="utf-8"?>
<settings>
    <resolution>
        <width>1920</width>
        <height>1080</height>
    </resolution>
    <fullscreen>true</fullscreen>
    <framerate_limit>120</framerate_limit>
    <vertical_sync>false</vertical_sync>
    <antialiasinc_level>8</antialiasinc_level>
    <lang>ru</lang>
    <font_size>33</font_size>
</settings>
